body {
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
}

.container {
    background-color: antiquewhite;
}

#nav-bar {
    top: 0;
    display: flex;
    justify-content: center;
    margin: auto 10%;
    width: 80%;
    height: 15%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(149, 235, 206);
    border: 3px solid green;
}

#titulo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0em;
    color: rgb(49, 158, 49);
    text-shadow: rgb(150, 1, 1) 2px -3px 2px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo {
    font-family: 'Concert One', sans-serif;
    color: rgb(202, 65, 65);
    font-size: 30px;
    line-height: 2em;
    padding: 0 24%;
    text-align: center;
}

.about {
    display: inline-flex;
    align-items: center;
    padding: 0 24%;
}

#minha_foto {
    width: 200px;
    border-radius: 5px;
    background-color: darkgreen;
    padding: 5px;
}

.description {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-left: 25px;
}

.lessons {
    text-align: center;
    width: 85%;
}

.direita {
    background-color: rgb(238, 221, 144);
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 0 15px 10px 0;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.esquerda {
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
    margin: 30px auto 20px;
    padding: 0 15px 10px 0;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


#licoes_aprendidas {
    width: 280px;
    font-size: 18px;
    line-height: 1.4em;
    text-align: left;
    margin: 5px;
}

#licoes_a_aprender {
    font-size: 18px;
    line-height: 1.4em;
    text-align: left;
    margin: 5px;
}

.lado-esquerdo {
    width: 20%;
    position: absolute;
    left: 2%;
    top: 65%
}

.lado-direito {
    width: 20%;
    position: absolute;
    right: 2%;
    top: 55%
}

.fab {
    font-size: 35px;
    color: darkred;
}

#artigo {
    margin-bottom: 40px;
}

#rodape {
    width: 100%;
    align-items: center;
    background-color: darkgreen;
    height: 50px;
}


.tabela {
    margin: 50px auto;
}

.table1 tr th {
    border: 2px solid black;
    background-color: burlywood;
    text-align: center;
    font-size: 20px;
    color: brown;
    font-size: larger;
}

.table1 td {
    border: 2px solid black;
    text-align: center;
    background-color: rgb(243, 229, 26);
    color: brown;
    font-size: larger;
}

#rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rodape a {
    color: #fff;
    font-size: 2em;
}

.rigths {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #fff;
    bottom: 0;
}